body {
    background: url(library.jpg) no-repeat center top;
    opacity: .95;
	background-size: cover;
	background-color: #FFFFEB;
	padding-left: 50px;
	padding-right: 50px;
}

header {
}

section {
	border-radius: 15px;
	margin-top: 80px;
	margin-left: 80px;
	margin-right: 80px;

	border-style: solid;
	border-width: 1px;

	padding: 20px;
	padding-top: 0px;

	background-color: #7A0000;
}

.promptbox {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	
	width: 100px;
	height: 100px;
}
input {
	font-size: 20px;
	background-color: #CCA300;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}

#title {
	border-top-left-radius: 20px;
	border-top-right-radius: 35px;
    background: url(books.jpg) no-repeat center top;
    opacity: 1;
    background-size: 1200px 200px;
	background-color: #7A0000;
	border-style: solid;
	border-width: 1px;
	border-color: #CCA300;
	padding: 20px;
    color: white;
}

header h1, h2 {
	display: inline-block;
}

header h1 {
	margin-top: 0px;
	margin-left: 60px;
	font-size: 60px;
	font-family: sans-serif;
	font-weight: 100;
	text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
}

header h2 {
	margin-top: -30px;
	margin-left: 40px;
	font-size: 18px;
	text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

#menu {
	
	padding: 0px;
	margin: 0px; 
	margin-top: -1px;
	list-style: none;
}

#menu li a {
	
	display: block; 
	height: 40px; 
	line-height: 40px; 
	padding: 0 20px; 
	float: left; 
	background: #CCA300; 
	color: black; 
	text-decoration: none;
	margin-right: 1px;

	border-style: solid;
	border-width: 1px;

	margin-left: -2px;

	transition: background-color 1s;
}

#menu li a:hover {
	background-color: #A38200;
}

#menu>:first-child a{
	margin-left: 0px;
	border-bottom-left-radius: 7px;
}

#menu .last a{
	margin-right: 0px;
	border-bottom-right-radius: 7px;
}

#menu li a {
	text-decoration: none;
	color: black;
}

#menu .signin {
	float: right;
}

#menu .selected a {
	background-color: #CCA300;
}