	#center {
		margin-left: 200px;
		height: 1300px;
		background: white;
		border: 1px solid black;
		border-radius: 5px;
	}	
	
	.profile_img {
		margin-top: 70px;
		margin-left: 50px;
		width: 80px;
		height: 80px;
		border: 2px solid black;
		border-radius: 5px;
	}
	
	.user_img {
		margin-left: 30px;
		width: 80px;
		height: 80px;
		border: 2px solid black;
		border-radius: 5px;
	}
	
	.sidebar {
		text-align: center;
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
        color: white;
	
		border-radius:15px 15px 15px 15px;
		border:2px solid black;
		box-shadow:4px 13px 13px #000000;
	
		float: left;
		position: fixed;
		margin: 0 0 -20px;
		background-color: #8A0000;
		opacity: .9;
		width: 175px;
		height: 40px;
		line-height: 40px;
	}
	#first {
	}
	#second {
		margin: 45px 0 45px 0 ;
	}
	#third {
		margin: 90px 0 90px 0;
	}
	#fourth {
		margin: 135px 0 135px 0;
	}
	#fifth {
		margin: 180px 0 180px 0;	
	}
	#sixth {
		margin: 225px 0 225px 0;
	}
	#seventh {
		margin: 270px 0 270px 0;
	}
	#eigth {
		margin: 315px 0 315px 0;
	}
    #ninth {
		margin: 360px 0 360px 0;
	}
	#tenth {
		margin: 405px 0 405px 0;
	}
	a:link, a:visited {
		text-decoration: none;
		color: white;
	}
	a:hover, a:active {
		text-decoration: none;
		color: #FFCC00;
	}
	
	#genreHeader {
		margin-right: 40px;
		font: pink;
	}
	
	.storyBox {
		margin-top: 25px;
		margin-left: 50px;
		margin-right: 50px;
		border: 1px dashed black;
		border-radius: 10px;
		padding: 15px 15px 15px 15px;
		float: right;
		display: block;
	}

    table {
        border-spacing: 0;
        table-layout: fixed;
        vertical-align: middle;
        font-size: large;
        font-family: "Times New Roman", Georgia, Palatino, serif;
        width: 80%;
        margin: auto;            
        margin-top: 15px;
    }
        
    /*Sets the style for the entire table*/
     #names {
          border: 5px solid #666633;
          border-collapse: collapse;
          text-align: center;
      }
        
     /*Sets the style for the column labels*/
    #names th {
        background-color: #666633;
        color: white;
    }
        
    /*Sets border on all sides on our table data*/
    #names td {
        border: 2px solid #666633;
    } 
        
    /*Changes background for every odd numbered row*/
    #names tr:nth-of-type(odd) {
        background: #A3C266;
    }
        
    /*Styles the captions above*/
    caption {
        font-family: Verdana, Arial, Tahoma, sans-serif;
        font-weight: bold;
        padding-bottom: 5px;
    }
        
    /*Styles the tables header*/
    th {
        font-family: Verdana, Arial, Tahoma, sans-serif;
        font-size: medium;
    }
        
    /*Ensures padding around data*/
    td {
        padding: 100px 5px 100px 5px;
        text-align: center;
    }
		
	